
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the code above this makes sure all of the elements have 0 maring and 0 padding
the computer gives certain elements like h1-h6 default values to padding and
margins, this can interfere with our styling the * in CSS serves as a univerasl
selector */

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
 }

/*  
(Different ways to use padding,

one value= that value to every side, ex= padding: 20px; Applies 20px to every side.

two values= first value top and bottom second value left and right 
ex = padding: 20px 35px; Applies 20 px to top + bottom, and 35px to left and right.

four values = applies it in this order top, right, bottom, and left 
ex= padding: 10px 15px 20px 25px; applies 10 to the top 15 to the right and so on.

you can also specify, ex= padding-top: 10px; padding-right: 15px; etc.

*/

header { 
      padding: 20px 35px; 
      background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

/* Hero Style Start */

.hero {
    background-image: url(../images/hero-bg.jpeg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    color: #024e76;
    background-color: #fce138;
    width:500px;
    padding: 20px;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px ;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* Hero Style end */


